<div class="panel">
     <div class="panel-body">
                                        <div class="profile-info">
                                            <img src="{{user.profile.picture.url}}" alt="" width="120" class="img-circle">
                                            <h4>{{user.first_name}} {{user.last_name}}</h4>
                                            <p class="text-uppercase color-info">{{user.email}}</p>
                                            <h4>Phone:</h4><p class="text-uppercase color-info"> {{user.profile.phone}}</p>
                                            <h4>Bitcoin Address:</h4><p class="text-uppercase color-info"> {{user.profile.bit_address}}</p>

                                            <div class="space-30"></div>

                                        </div><!--profile info-->
                                    </div><!--panel body-->
                                </div><!--panel-->