{% extends 'main/base.html' %}
{% load static %}
{% block content %}

      <section class="section-30 section-md-40 section-lg-66 section-xl-90 bg-gray-dark page-title-wrap" style="background-image: url({% static 'images/bg-image-1.jpg' %});">
        <div class="container">
          <div class="page-title">
            <h2>About</h2>
          </div>
        </div>
      </section>

      <section class="section-66 section-md-90 section-xl-bottom-120 bg-whisperapprox">
        <div class="container">
          <h3>About Us</h3>
          <div class="row row-40 justify-content-xl-between align-items-center">
            <div class="col-md-6 col-xl-5 text-secondary">
              <div class="inset-md-right-15 inset-xl-right-0">
                <p>My name is Dr. Azil (it is my real name and I do have a PhD) and I decided to establish this website as my contribution in the struggle to enable individuals thrive via financial empowerment. It is a well-known fact that there is a huge gap between the rich and the poor of this World.
                  My aim here is to help reduce that gap by creating a platform that enables all members attain a slightly higher standard of living and financial freedom.</p>
                <p>
                  This works by evenly distributing all investments among members to bring everybody up at the same time. The reason I decided to utilise a Peer to Peer format
                  is so members are rest assured that no one will abscond with their hard earned funds as has sadly become commonplace these days in the investment sphere.
                  
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="list-progress">
                <li>
                  <p class="animated fadeIn">Investment Management</p>
                  <div class="progress-bar-js progress-bar-horizontal progress-bar-red-orange-1" data-value="100" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                </li>
                <li>
                  <p class="animated fadeIn">Security</p>
                  <div class="progress-bar-js progress-bar-horizontal progress-bar-dodger-blue" data-value="100" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                </li>
                <li>
                  <p class="animated fadeIn">Trust</p>
                  <div class="progress-bar-js progress-bar-horizontal progress-bar-gorse" data-value="100" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                </li>
                <li>
                  <p class="animated fadeIn">Cash & Credit</p>
                  <div class="progress-bar-js progress-bar-horizontal progress-bar-danger-01" data-value="100" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="section-60 section-md-90 bg-gray-lighter">
        <div class="container">
        <div>
          </div>
        </div>
      </section>

      <section class="bg-whisperapprox">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-md-start">
            <div class="col-sm-10 col-md-6 text-left section-60 section-md-90">
              <div>
                <h3>Our Mission</h3>
                <div class="box-photo-frame"><img src="{ static 'images/about-1-510x268.jpg' %}" alt="" width="510" height="268"/>
                </div>
                <h6>Our Investment Principles</h6>
                <p>In the spirit of fair play and balance, We decided that members will only benefit from what they put in and not through merely introducing others to the website. The benefit of introducing others to the website is that the more people who participate, the more feasible for,
                  and the sooner a member is likely to receive payment.  As such there is no affiliate or referral bonus structure, this is an egalitarian scheme. </p>
              </div>
            </div>
            <div class="col-md-6 context-dark section-image-aside section-image-aside-right pos-relative-before-sm section-60 section-md-0 d-md-flex">
              <div class="section-image-aside-img" style="background-image: url({% static 'images/bg-image-12.jpg' %});">
                <div class="section-bordered-inside"></div>
              </div>
              <div class="row align-items-md-center offset-top-0">
                <div class="col-md-11 col-lg-10 to-front offset-md-1 offset-lg-2">
                  <h3>Benefits & Risks</h3>
                  <h5>Why Choose Us</h5>
                  <p class="text-white-05">The benefits of using managed funds include the ability to gain exposure to different asset classes and market sectors.</p>
                  <ul class="list-marked">
                    <li class="text-white">Diversification</li>
                    <li class="text-white">Potential wealth generation</li>
                    <li class="text-white">Cost-effective investment</li>
                    <!--<li class="text-white">Access to a range of assets</li>-->
                    <li class="text-white">Geared exposure</li>
                    <li class="text-white">Underperforming investments</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="section-60 section-md-90 bg-gray-lighter">
        <div class="container">
          <div>
          </div>
        </div>
      </section>

      {% endblock %}