{% extends 'main/base.html' %}
{% load static %}
{% block content %}

      <section class="section-30 section-md-40 section-lg-66 section-xl-90 bg-gray-dark page-title-wrap" style="background-image: url({% static 'images/bg-image-4.jpg' %});">
        <div class="container">
          <div class="page-title">
            <h2>FAQ</h2>
          </div>
        </div>
      </section>

      <section class="section-60 section-md-90 section-xl-bottom-120 bg-whisperapprox">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-12">
              <div class="row row-50">
                <div class="col-lg-6">
                  <h3>General Questions</h3>
                  <p>All you need to know about our company and how to get support.</p>
                  <div class="card-group card-group-custom card-group-corporate" id="accordionOne" role="tablist" aria-multiselectable="true">
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionOneHeading1" role="tab">
                        <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordionOne" href="#accordionOneCollapse1" aria-controls="accordionOneCollapse1" aria-expanded="true">What Is REMIEL?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse show" id="accordionOneCollapse1" role="tabpanel" aria-labelledby="accordionOneHeading1">
                        <div class="card-body">
                          <p class="text-gray-05">REMIEL is a member to member donation and mutual aid website for members to help other members in an efficient way. By using this website, members give and receive donations from each other.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionOneHeading2" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionOne" href="#accordionOneCollapse2" aria-controls="accordionOneCollapse2" aria-expanded="false">What Is The Aim Of REMIEL?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionOneCollapse2" role="tabpanel" aria-labelledby="accordionOneHeading2">
                        <div class="card-body">
                          <p class="text-gray-05">Our aim is to create a platform that gives all participants an avenue to enjoy a higher standard of living and to avoid scams.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionOneHeading3" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionOne" href="#accordionOneCollapse3" aria-controls="accordionOneCollapse3" aria-expanded="false">Why Is There No Referral System Or Affiliate Bonus Scheme?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionOneCollapse3" role="tabpanel" aria-labelledby="accordionOneHeading3">
                        <div class="card-body">
                          <p class="text-gray-05">I believe the difference between me and the others is that I do not believe anyone should make money off others. I therefore chose a system where everybody is equal and only earn from what they put in. </p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionOneHeading4" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionOne" href="#accordionOneCollapse4" aria-controls="accordionOneCollapse4" aria-expanded="false">Who Can Join REMIEL?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionOneCollapse4" role="tabpanel" aria-labelledby="accordionOneHeading4">
                        <div class="card-body">
                          <p class="text-gray-05">Anybody of any age and sex can join REMIEL. Equal benefits and donations are assigned to all.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <h3>Other Questions</h3>
                  <p>The answers on most common questions are described bellow.</p>
                  <div class="card-group card-group-custom card-group-corporate" id="accordionTwo" role="tablist" aria-multiselectable="true">
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading1" role="tab">
                        <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse1" aria-controls="accordionTwoCollapse1" aria-expanded="true">Is Running Multiple Accounts Allowed?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse show" id="accordionTwoCollapse1" role="tabpanel" aria-labelledby="accordionTwoHeading1">
                        <div class="card-body">
                          <p class="text-gray-05">Yes, you can run multiple accounts, but you must run them with different usernames, email addresses, and payment details as those are unique in the system</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading2" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse2" aria-controls="accordionTwoCollapse2" aria-expanded="false">How Long Will It Take Get Downlines To Pay Me?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse2" role="tabpanel" aria-labelledby="accordionTwoHeading2">
                        <div class="card-body">
                          <p class="text-gray-05">The time it takes for you to get downlines to pay you depends on the flow of new users in the system. To shorten this timeframe, this is why we introduced the autorecycle feature which forces new and existing members to keep investing in the system while retaining their profits of course. Downlines are assigned to pay usually on or before 5 days!</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading3" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse3" aria-controls="accordionTwoCollapse3" aria-expanded="false">How Can I Make Payments Come Faster?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse3" role="tabpanel" aria-labelledby="accordionTwoHeading3">
                        <div class="card-body">
                          <p class="text-gray-05">Easy, the more people who participate; the faster payments will come your way! So spread the word and get more people to join.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading4" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse4" aria-controls="accordionTwoCollapse4" aria-expanded="false">How Do I Receive Payment?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse4" role="tabpanel" aria-labelledby="accordionTwoHeading4">
                        <div class="card-body">
                          <p class="text-gray-05">The downlines the system assigns to pay you will make payments via the payment details you provide while filling the registration form. They will proceed to make payment either via the bitcoin wallet you provided.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading5" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse5" aria-controls="accordionTwoCollapse5" aria-expanded="false">I Have Made Payment But My Payment Has Not Been Approved?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse5" role="tabpanel" aria-labelledby="accordionTwoHeading5">
                        <div class="card-body">
                          <p class="text-gray-05">REMIEL is a timed system. Members are given 24 hours to confirm payments made by their downlines (provided valid evidence of payment has been uploaded). Once this time frame elapses and there is still no approval, the case will be automatically moved to the REMIEL Court where judges will preside over the issue and reach a verdict to confirm or cancel the payment based on the statements and evidences provided by you and the member you were matched to.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading6" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse6" aria-controls="accordionTwoCollapse6" aria-expanded="false">What if the Downline Assigned To Me Refuses To Pay?
                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse6" role="tabpanel" aria-labelledby="accordionTwoHeading6">
                        <div class="card-body">
                          <p class="text-gray-05">There is no need to worry here. Once the time assigned to a downline has been exhausted, the system will block the account of the downline and assign a new downline to pay you within 24 hours.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% endblock %}