{% extends 'main/base.html' %}
{% load static %}
{% block content %}


      <section>
        <div class="swiper-container swiper-slider swiper-variant-1 bg-black" data-loop="true" data-autoplay="4000" data-simulate-touch="true">
          <div class="swiper-wrapper text-center">
            <div class="swiper-slide bg-overlay-dark" data-slide-bg="{% static 'images/home-slider-1-slide-1.jpg'%}">
              <div class="swiper-slide-caption">
                <div class="container">
                  <div class="row justify-content-md-center">
                    <div class="col-md-11 col-lg-10 col-xl-9">
                      <div class="shilder-header-with-divider d-none d-lg-block" data-caption-animate="fadeInDownSmall" data-caption-delay="250s">Professional Investment Management</div>
                      <h2 class="slider-header" data-caption-animate="fadeIn" data-caption-delay="0s">Thrive via financial empowerment</h2>
                      <a class="button button-icon button-icon-right button-primary btn-nuka big" data-caption-animate="fadeInUpSmall" data-caption-delay="250" href="/account/sugnup/">
                        <span class="icon icon-xs fa-angle-right"></span>Join Us Today</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide bg-overlay-dark" data-slide-bg="{% static 'images/home-slider-1-slide-2.jpg' %}">
              <div class="swiper-slide-caption">
                <div class="container">
                  <div class="row justify-content-md-center justify-content-xl-start">
                    <div class="col-xl-1 d-none d-xl-inline-block d-xxl-none"></div>
                    <div class="col-md-11 col-lg-10 col-xl-8 text-xl-left">
                      <h2 class="slider-header" data-caption-animate="fadeInRight" data-caption-delay="0s">Double Investment<br>Add Financial Security</h2>
                      <p class="text-bigger text-regular slider-text" data-caption-animate="fadeInRight" data-caption-delay="150">We can offer you services that build a better financial future.</p>
                      <a class="button button-icon button-icon-right button-primary btn-nuka big" data-caption-animate="fadeInRight" data-caption-delay="300" href="/account/signup/">
                        <span class="icon icon-xs fa-angle-right"></span>Register Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar d-xl-none"></div>
          <div class="swiper-nav-wrap">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </section>

      <section class="section-50 section-md-90">
        <div class="container text-center">
          <h3>Our Services</h3>
          <div class="row row-40 row-offset-3">
            <div class="col-md-6 col-lg-4 height-fill wow fadeInUp" data-wow-delay="0s">
              <article class="icon-box">
                <div class="box-top">
                  <div class="box-icon"><span class="icon icon-primary icon-lg-bigger material-icons-remove_red_eye material-icons-device_hub"></span></div>
                  <div class="box-header">
                    <h5><a href="#">Best Market</a></h5>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="box-body">
                  <p class="text-gray-05">Assessment of viability, stability and profitability of a business, sub-business or project.</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4 height-fill wow fadeInUp" data-wow-delay=".1s">
              <article class="icon-box">
                <div class="box-top">
                  <div class="box-icon"><span class="icon icon-primary icon-lg-bigger mercury-ico mercury-icon-partners"></span></div>
                  <div class="box-header">
                    <h5><a href="#">Double Investment</a></h5>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="box-body">
                  <p class="text-gray-05">Our Double your investment with our awesome packages for financial security.</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4 height-fill wow fadeInUp" data-wow-delay=".2s">
              <article class="icon-box">
                <div class="box-top">
                  <div class="box-icon"><span class="icon icon-primary icon-lg-bigger material-icons-supervisor_account"></span></div>
                  <div class="box-header">
                    <h5><a href="#">Best Matchup</a></h5>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="box-body">
                  <p class="text-gray-05">Do business with trusted partners as our system matches you with world class business men/women.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-whisperapprox">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-md-start">
            <div class="col-sm-10 col-md-6 text-left section-60 section-md-75">
              <div class="inset-right-30">
                <!--<div class="box-photo-frame d-block wow fadeIn" data-wow-delay="0s">-->
                  <!--<div class="embed-responsive">-->
                    <!--<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/rpOwTspdwkI" allowfullscreen></iframe>-->
                  <!--</div>-->
                <!--</div>-->
                <div class="row wow fadeInUp" data-wow-delay=".1s">
                  <div class="col-lg-1 d-none d-lg-inline-block"></div>
                  <div class="col-lg-10">
                    <blockquote class="quote-simple inset-lg-left-15">Why Choose Us
                      <div class="quote-body">
                        <q>Together, we can enable your business to achieve even more.</q>
                      </div>
                    </blockquote>
                    <p class="text-dusty-gray">It is a well-known fact that there is a huge gap between the rich and the poor of this World. My aim here is to help
                      reduce that gap by creating a platform that enables all members attain a slightly higher standard of living and financial freedom.
                      This works by evenly distributing all investments among members to bring everybody up at the same time.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 context-dark section-image-aside section-image-aside-right pos-relative-before-sm section-60 section-md-0 d-md-flex">
              <div class="section-image-aside-img" style="background-image: url({% static 'images/bg-image-9.jpg' %});">
                <div class="section-bordered-inside"></div>
              </div>
              <div class="row align-items-md-center offset-top-0">
                <div class="col-lg-10 col-xl-9 to-front offset-md-1 offset-lg-2">
                  <div class="inset-lg-left-15">
                    <h3 class="wow fadeIn" data-wow-delay="0s">Why Choose Us</h3>
                    <div class="unit unit-spacing-md flex-sm-row wow fadeInRight" data-wow-delay=".1s">
                      <div class="unit-left"><span class="icon icon-7"></span></div>
                      <div class="unit-body">
                        <h6>Best Pakages</h6>
                        <p class="text-white-05">$250 in bitcoin [$750 returns on investment]</p>
                      </div>
                    </div>
                    <div class="unit unit-spacing-md flex-sm-row wow fadeInRight" data-wow-delay=".2s">
                      <div class="unit-left"><span class="icon icon-8"></span></div>
                      <div class="unit-body">
                        <h6>Fast Matchup</h6>
                        <p class="text-white-05">Get Matched to Pay an Existing Member $250 in bitcoin</p>
                      </div>
                    </div>
                    <div class="unit unit-spacing-md flex-sm-row wow fadeInRight" data-wow-delay=".3s">
                      <div class="unit-left"><span class="icon icon-9"></span></div>
                      <div class="unit-body">
                        <h6>Security</h6>
                        <p class="text-white-05">Providing value through straightforward commissions and added services.</p>
                      </div>
                    </div>
                    <a class="button button-icon button-icon-right button-primary btn-nuka big buttons-inset-horizontal-15 wow fadeInUp" href="/account/login/" data-wow-delay=".1s">
                    <span class="icon icon-xs fa-angle-right"></span>Enjoy Benefits</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section parallax-container bg-black bg-overlay-dark-2" data-parallax-img="{% static 'images/clients-testimonials-parallax-1.jpg' %}">
        <div class="parallax-content">
          <div class="section-60 section-md-90 section-xl-120">
            <div class="container text-center">
              <h3>What People Say</h3>
              <div class="row justify-content-lg-center">
                <div class="col-lg-11 col-xl-9">
                  <div class="owl-carousel-inverse">
                    <div class="owl-carousel owl-nav-position-numbering" data-items="1" data-stage-padding="0" data-loop="false" data-margin="30" data-nav="true" data-numbering="#owl-numbering-1" data-animation-in="fadeIn" data-animation-out="fadeOut" data-mouse-drag="false">
                      <div class="item">
                              <blockquote class="quote-minimal quote-minimal-inverse">
                                <div class="quote-body">
                                  <p>
                                    <q>The team at Remiel can identify issues and try to provide solutions on all aspects of fund management and administration and will guide you with their in-depth knowledge whenever they are asked. Keep going this way!</q>
                                  </p>
                                </div>
                                <div class="quote-meta">
                                  <cite>Jane Wilson</cite>
                                  <p class="caption">Freelancer</p>
                                </div>
                              </blockquote>
                      </div>
                      <div class="item">
                              <blockquote class="quote-minimal quote-minimal-inverse">
                                <div class="quote-body">
                                  <p>
                                    <q>They are keeping their deadlines – often beating them – and are always available for advice. Their packages are very attractive and their after matching service is second-to-none. They have created tremendous value for me and my clients. Definitely recommendable!</q>
                                  </p>
                                </div>
                                <div class="quote-meta">
                                  <cite>Amanda Smith</cite>
                                  <p class="caption">Sales Manager</p>
                                </div>
                              </blockquote>
                      </div>
                      <div class="item">
                              <blockquote class="quote-minimal quote-minimal-inverse">
                                <div class="quote-body">
                                  <p>
                                    <q>I have enjoyed a professional and fruitful relationship with Remiel for a while now during which time, their knowledge, diligence, and focus to detail, has added greatly to my own company’s bottom-line, allowing me to offer enhanced benefits to my investors.</q>
                                  </p>
                                </div>
                                <div class="quote-meta">
                                  <cite>Sam Cole</cite>
                                  <p class="caption">Regional Manager</p>
                                </div>
                              </blockquote>
                      </div>
                    </div>
                    <div class="owl-numbering owl-numbering-default" id="owl-numbering-1">
                      <div class="numbering-current"></div>
                      <div class="numbering-separator"></div>
                      <div class="numbering-count"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-60 section-md-100 bg-whisperapprox">
        <div class="container">
          <div class="row row-30 justify-content-lg-center">
            <div class="col-lg-8 col-xl-7">
              <h3>What is Right For You?</h3>
              <p class="text-gray-05" style="max-width: 420px;">If you are in doubt of what to opt for, Why dont you begin small and watch your life turn around</p>
            </div>
            <div class="col-lg-4 col-xl-3"><a class="button button-xl button-xl-bigger button-ebony-clay-outline" href="register.html">Why Wait</a></div>
          </div>
        </div>
      </section>

      <section class="section parallax-container bg-black bg-overlay-dark-2" data-parallax-img="{% static 'images/bg-image-3.jpg'%} ">
        <div class="parallax-content">
          <div class="section-60 section-md-100">
            <div class="container">
              <h3 class="text-center">Our Company in Numbers</h3>
              <div class="row row-40 row-offset-1 align-items-sm-end">
                <div class="col-sm-6 col-md-3 wow fadeIn" data-wow-delay="0s">
                  <div class="box-counter"><span class="icon icon-11"></span>
                    <div class="text-large counter">1450</div>
                    <h5 class="box-header">Trusted Clients</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeIn" data-wow-delay=".1s">
                  <div class="box-counter"><span class="icon icon-12"></span>
                    <div class="text-large counter">18</div>
                    <h5 class="box-header">Awards</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeIn" data-wow-delay=".2s">
                  <div class="box-counter"><span class="icon icon-13"></span>
                    <div class="text-large counter">21</div>
                    <h5 class="box-header">Years of Experience</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeIn" data-wow-delay=".3s">
                  <div class="box-counter"><span class="icon icon-14"></span>
                    <div class="text-large counter counter-k">16</div>
                    <h5 class="box-header">Experts</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


{% endblock %}