{% extends 'main/base.html' %}
{% load static %}
{% block content %}

      <section class="section-30 section-md-40 section-lg-66 section-xl-90 bg-gray-dark page-title-wrap" style="background-image: url({% static 'images/bg-image-4.jpg' %});">
        <div class="container">
          <div class="page-title">
            <h2>Packages</h2>
          </div>
        </div>
      </section>

      <section class="section-60 section-md-90 section-xl-bottom-15 bg-athens-gray">
        <div class="container">
          <div class="row row-40">
            <div class="col-md-6 col-lg-8">
              <div class="row row-30">
                <div class="col-lg-6">
                  <h3>Our Packages</h3>
                </div>
                <div class="col-lg-6">
                  <p class="text-gray-05">The best plan that meets your business needs.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-1 d-none d-xl-inline-block"></div>
            <div class="col-md-5 col-lg-4 col-xl-3"><a class="button button-primary btn-nuka button-block buttons-inset-horizontal-15" href="register.html">Begin now</a></div>
          </div>
        </div>
      </section>

      <section class="bg-decoration-wrap bg-decoration-bottom section-bottom-60 section-xl-top-100 section-xl-bottom-100 bg-athens-gray">
        <div class="container bg-decoration-content">
          <div class="row justify-content-md-center">
            <div class="col-lg-10 col-xl-12">
              <div class=" align-items-md-end" style="text-align: center">


                  <div class="pricing-table pricing-table-preferred">
                    <div class="pricing-table-label">
                      <p>Our Plan</p>
                    </div>
                    <div class="pricing-table-body">
                      <h5 class="pricing-table-header">Business/Individual</h5>
                      <div class="pricing-object pricing-object-lg"><span class="small small-top">$</span><span class="price">250</span><span class="small small-bottom">/payment</span></div>
                      <div class="divider-circle"></div>
                      <ul class="pricing-list">
                        <li><span class="text-ubold text-ebony-clay">$750</span>Returns</li>
                        <li><span class="text-ubold text-ebony-clay">Unlimited</span>matching</li>
                        <li>Investment Strategy</li>
                        <li>Email Support</li>
                        <li><span class="text-ubold text-ebony-clay"></span>Additional Services</li>
                      </ul>
                    </div>
                    <div class="pricing-table-footer"><a class="button button-primary button-block" href="/account/signup/">Sign up</a></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </section>
        <!--</div>-->
        <!--<div class="bg-decoration-object bg-whisperapprox"></div>-->
      <!--</section>-->

      <section class="section-60 section-md-90">
        <div class="container">
          <h3>Questions & Answers</h3>
          <div class="row row-offset-3 justify-content-lg-center">
            <div class="col-lg-11 col-xl-10">
              <div class="row row-40">
                <div class="col-md-6">
                  <dl class="list-terms-variant-1">
                    <dt class="h6 text-ebony-clay">What Is REMIEL?</dt>
                    <dd class="text-gray-05">REMIEL is a member to member donation and mutual aid website for members to help other members in an efficient way. By using this website, members give and receive donations from each other.</dd>
                    <dt class="h6 text-ebony-clay">What Is The Aim Of REMIEL?</dt>
                    <dd class="text-gray-05">Our aim is to create a platform that gives all participants an avenue to enjoy a higher standard of living and to avoid scams.</dd>
                    <dt class="h6 text-ebony-clay">Why Is There No Referral System Or Affiliate Bonus Scheme?</dt>
                    <dd class="text-gray-05">I believe the difference between me and the others is that I do not believe anyone should make money off others. I therefore chose a system where everybody is equal and only earn from what they put in. </dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="list-terms-variant-1">
                    <dt class="h6 text-ebony-clay">Who Can Join REMIEL?</dt>
                    <dd class="text-gray-05">Anybody of any age and sex can join REMIEL. Equal benefits and donations are assigned to all.</dd>
                    <dt class="h6 text-ebony-clay">Is Running Multiple Accounts Allowed?</dt>
                    <dd class="text-gray-05">Yes, you can run multiple accounts, but you must run them with different usernames, email addresses, and payment details as those are unique in the system</dd>
                    <dt class="h6 text-ebony-clay">How Long Will It Take Get Downlines To Pay Me?</dt>
                    <dd class="text-gray-05">The time it takes for you to get downlines to pay you depends on the flow of new users in the system. To shorten this
                      timeframe, this is why we introduced the autorecycle feature which forces new
                      and existing members to keep investing in the system while retaining their profits of course. Downlines are assigned to pay usually on or before 5 days!</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-60 section-md-100 bg-whisperapprox">
        <div class="container">
          <div class="row row-30 justify-content-lg-center">
            <div class="col-lg-8 col-xl-7">
              <h3>This is Right For You?</h3>
              <p class="text-gray-05" style="max-width: 420px;">If you are in doubt of which plan to opt for, subscribe to our services and we will try to help you make the right decision.</p>
            </div>
            <div class="col-lg-4 col-xl-3"><a class="button button-xl button-xl-bigger button-ebony-clay-outline" href="register.html">Join us Today</a></div>
          </div>
        </div>
      </section>

      {% endblock %}