{% extends 'main/base.html' %}
{% load static %}
{% block content %}
      <section class="section-30 section-md-40 section-lg-66 section-xl-90 bg-gray-dark page-title-wrap" style="background-image: url({% static 'images/bg-image-4.jpg' %});">
        <div class="container">
          <div class="page-title">
            <h2>Services</h2>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row flex-lg-row-reverse align-items-lg-end justify-content-lg-end">
            <div class="col-md-11 col-lg-6 col-xl-5">
              <div class="section-60 section-md-90 section-md-top-130">
                <h3>Management Services</h3>
                <p>Engaging  the services of Investment Company can bring you the peace of mind that comes with knowing you've planned prudently for your future. We are committed to providing you with superior wealth management services. We can offer advice and comprehensive solutions for all of your financial planning needs. We are dedicated to placing your best interests first. Our entire investment philosophy and delivery of services to our clients begins with our core principle to operate in a conflict-free environment.</p><a class="button button-ebony-clay-outline" href="about.html">Read More</a>
              </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-none d-lg-block">
              <div class="image-wrap-2"><img src="{% static 'images/services-1-461x365.jpg'%}" alt="" width="461" height="365"/>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section parallax-container bg-black bg-overlay-dark-3" data-parallax-img="{% static 'images/services-parallax-1.jpg'%} ">
        <div class="parallax-content">
          <div class="section-60 section-md-90 context-dark section-bordered-inside">
            <div class="container">
              <div class="text-center">
                <h3>Investment Steps</h3>
                <p class="block-centered text-white-05" style="max-width: 540px;">
                  The struggle to enable individuals thrive via financial empowerment
                  
                </p>
              </div>
              <div class="row row-50">
                <div class="col-sm-6 col-lg-4">
                  <article class="icon-box-vertical icon-box-vertical-sm">
                    <div class="unit flex-column unit-spacing-sm">
                      <div class="unit-left"><span class="icon icon-primary icon-lg-bigger mercury-icon-chart-up-2"></span></div>
                      <div class="unit-body">
                        <h5>1. Investment Packages</h5>
                        <p class="text-white-05">Payment of $250 in bitcoin guanrantees you $750 returns on investment</p>
                      </div>
                    </div>
                  </article>

                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="icon-box-vertical icon-box-vertical-sm">
                    <div class="unit flex-column unit-spacing-sm">
                      <div class="unit-left"><span class="icon icon-primary icon-lg-bigger mercury-icon-group"></span></div>
                      <div class="unit-body">
                        <h5>2. Quick Matchup</h5>
                        <p class="text-white-05"><b>Get Matched to Pay an Existing Member $250 in bitcoin</b> <br/>
                          The system automatically matches you to an existing member you are to make payment to.</p>
                      </div>
                    </div>
                  </article>

                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="icon-box-vertical icon-box-vertical-sm">
                    <div class="unit flex-column unit-spacing-sm">
                      <div class="unit-left"><span class="icon icon-primary icon-lg-bigger mercury-icon-screen"></span></div>
                      <div class="unit-body">
                        <h5>3. Make Payment</h5>
                        <p class="text-white-05">Get the bitcoin wallet address of the member you are to pay to from your dashboard and pay the stated amount.</p>
                      </div>
                    </div>
                  </article>

                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="icon-box-vertical icon-box-vertical-sm">
                    <div class="unit flex-column unit-spacing-sm">
                      <div class="unit-left"><span class="icon icon-primary icon-lg-bigger mercury-icon-briefcase"></span></div>
                      <div class="unit-body">
                        <h5>4. Upload Payment Proof</h5>
                        <p class="text-white-05">While making payment, ensure that you take screenshots to be uploaded as evidence of payment.</p>
                      </div>
                    </div>
                  </article>

                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="icon-box-vertical icon-box-vertical-sm">
                    <div class="unit flex-column unit-spacing-sm">
                      <div class="unit-left"><span class="icon icon-primary icon-lg-bigger mercury-icon-presentation-3"></span></div>
                      <div class="unit-body">
                        <h5>5.	Get Payment Activation</h5>
                        <p class="text-white-05">When you have uploaded the proof of payment, get in touch with the existing member you made payment to via
                          their provided email address, to activate your package. In the rare case of the member not activating your package after you notify him,
                          kindly write a support ticket to the admin and we will investigate the payment.
                          If the payment evidence is confirmed to be true, we will activate your package and permanently block the account of the existing member.
                          If the payment evidence is found to be false, your account will be permanently blocked as there is no room for fraudsters on REMIEL.</p>
                      </div>
                    </div>
                  </article>

                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="icon-box-vertical icon-box-vertical-sm">
                    <div class="unit flex-column unit-spacing-sm">
                      <div class="unit-left"><span class="icon icon-primary icon-lg-bigger mercury-icon-money"></span></div>
                      <div class="unit-body">
                        <h5>6.	The System Assigns (3)Three Downlines to Pay You</h5>
                        <p class="text-white-05">Upon activation of your package, the system will assign three members to pay you. </p>
                      </div>
                    </div>
                  </article>

                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="icon-box-vertical icon-box-vertical-sm">
                    <div class="unit flex-column unit-spacing-sm">
                      <div class="unit-left"><span class="icon icon-primary icon-lg-bigger mercury-icon-partners"></span></div>
                      <div class="unit-body">
                        <h5>7.	Receive Payments from Downlines</h5>
                        <p class="text-white-05">Each downline is given 24 hours to make payment. In the event that a downline fails to make payment within the stipulated time, the downline's account will be blocked. However,
                          a downline can request for a time extension of 6 hours from you and you can extend the time frame by 6 hours.
                          When a downline makes payment and uploads evidence of payment, DO NOT confirm payment without checking to confirm you have received payment.
                          If you do so, there is nothing the admin can do about it as payment confirmation is an irreversible process on the system.</p>
                      </div>
                    </div>
                  </article>

                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="icon-box-vertical icon-box-vertical-sm">
                    <div class="unit flex-column unit-spacing-sm">
                      <div class="unit-left"><span class="icon icon-primary icon-lg-bigger mercury-icon-presentation"></span></div>
                      <div class="unit-body">
                        <h5>8.	Activate Downlines</h5>
                        <p class="text-white-05">When you are fully convinced that a downline has made payment, you can proceed to activate. </p>
                      </div>
                    </div>
                  </article>

                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="icon-box-vertical icon-box-vertical-sm">
                    <div class="unit flex-column unit-spacing-sm">
                      <div class="unit-left"><span class="icon icon-primary icon-lg-bigger mercury-icon-chart-up"></span></div>
                      <div class="unit-body">
                        <h5>9.	Auto Recycle</h5>
                        <p class="text-white-05">You are free to choose if the system should autorecycle you or not </p>
                      </div>
                    </div>
                  </article>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <section class="section-60 section-md-100 bg-whisperapprox">
        <div class="container text-center text-lg-left">
          <div class="row row-30 align-items-md-center justify-content-md-center">
            <div class="col-lg-8 col-xl-7">
              <h3 class="medium">We Make Wise Investments</h3>
            </div>
            <div class="col-lg-4 col-xl-3"><a class="button button-xl button-ebony-clay-outline" href="/account/login/" style="min-width: 270px;">Choose Us</a></div>
          </div>
        </div>
      </section>
{% endblock %}
